<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_PAV_3K02.Properties.Settings.ConnectionString"
            connectionString="Data Source=Editorial-PAV.mssql.somee.com;User ID=hassanmafud_SQLLogin_1;Password=pbhjnb47ux"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>