<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_PAV_3K02.Properties.Settings.ConnectionString"
            connectionString="Data Source=Editorial-PAV.mssql.somee.com;User ID=hassanmafud_SQLLogin_1;Password=pbhjnb47ux"
            providerName="System.Data.SqlClient" />
        <add name="TP_PAV_3K02.Properties.Settings.Editorial_PAVConnectionString"
            connectionString="Data Source=Editorial-PAV.mssql.somee.com;Initial Catalog=Editorial-PAV;Persist Security Info=True;User ID=hassanmafud_SQLLogin_1"
            providerName="System.Data.SqlClient" />
        <add name="TP_PAV_3K02.Properties.Settings.pruebastring" connectionString="Data Source=Editorial-PAV.mssql.somee.com;Initial Catalog=Editorial-PAV;Persist Security Info=True;User ID=hassanmafud_SQLLogin_1"
            providerName="System.Data.SqlClient" />
        <add name="TP_PAV_3K02.Properties.Settings.Reportes_PAVConnectionString"
            connectionString="Data Source=Reportes-PAV.mssql.somee.com;Initial Catalog=Reportes-PAV;Persist Security Info=True;User ID=Revol66456_SQLLogin_1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>